{% extends 'base.html.twig' %}

{% block contenu %}

<h1> Stages proposés par {{ listeStages[0].entreprise.nom}} </h1>
<ul>
{% for stage in listeStages %}
<li> {{stage.titre}} </li>
{% endfor %}
</ul>

{% endblock %}