{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block contenu %}
<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ idStage }}</h1>
{% endblock %}
