<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}
		
		{% endblock %}
    </head>
	    <body>      
		{% block menu %}		
		<nav class="menu">
	<ul>	
  <li><a href="#Accueil">Accueil</a></li>
  <li><a href="#Entreprises">Entreprises</a></li>
  <li><a href="#Formations">Formations</a></li>
  <li><a href="#Stages">Stages</a></li>
   <img src="{{asset('prostages.jpg')}}" alt="Saisissez la clef !" />
 </ul>
 </nav>
	{% endblock %}
		
		  {% block body %}
		  
		  	  
		<img src="{{asset('prostages.jpg')}}" alt="Saisissez la clef !" />
				{% endblock %}
		
        {% block javascripts %}{% endblock %}
		
		{% block piedDePage %}
        <h2>Premier projet Symfony Jérôme Doyénard
        {% endblock %}
    </body>
</html>
